.env
node_modules/
build/
dist/
.DS_Store
*.log**/xcworkspace/

# ingore public files in user-service
Backend/user-service/src/public/*
Backend/booking-service/package-lock.json
Backend/payment-service/package-lock.json
Backend/user-service/package-lock.json
Backend/tests/package-lock.json
Frontend/package-lock.json
