PORT=3010
NODE_ENV=development

# database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wiz_request_db
DB_USER=postgres
DB_PASSWORD=

# rabbitmq
RABBITMQ_URL=amqp://localhost:5672

# other services urls
USER_SERVICE_URL=http://localhost:3001
NOTIFICATION_SERVICE_URL=http://localhost:3007