PORT=3001

# jwt key
JWT_SECRET=wiz_secret_key

# email credentials
EMAIL_USER=jassmyatt@gmail.com
EMAIL_PASSWORD=email_add_password_from_provider

# Database
DB_NAME=wizdb
DB_USER=wiz_user
DB_PASSWORD=wiz_password
DB_PORT=5432

# Google OAuth
GOOGLE_CLIENT_ID=something.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=client_secret_from_google
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback

# Facebook OAuth
FACEBOOK_APP_ID=12345678901234567890
FACEBOOK_APP_SECRET=app_secret_from_facebook
FACEBOOK_CALLBACK_URL=http://localhost:3001/auth/facebook/callback

# Frontend URL (where to redirect after OAuth)
FRONTEND_URL=http://localhost:3001/