PORT=3001

# jwt key
JWT_SECRET=wiz_secret_key

# email credentials
EMAIL_USER=jassmyatt@gmail.com
EMAIL_PASSWORD=email_add_password_from_provider

# Database
DB_NAME=wizdb
DB_USER=wiz_user
DB_PASSWORD=wiz_password
DB_PORT=5432